[submodule "tmux/.config/tmux/plugins/tpm"]
	path = tmux/.config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "home/.config/nvim"]
	path = home/.config/nvim
	url = git@github.com:JakobSchlichting/snvim.git
